%h3 Add schedule
= form_for @new_schedule, :url => create_schedule_account_path(@account) do |f|
  .form-group
    = f.label :name
    = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :income
    = f.text_field :income, :class => 'form-control'
  .form-group
    = f.label :income_currency
    = f.select :income_currency, {'PLN' => 'PLN', 'EUR' => 'EUR', 'USD' => 'USD'}, :class => 'form-control'
  .form-group
    = f.label :outcome
    = f.text_field :outcome, :class => 'form-control'
  .form-group
    = f.label :outcome_currency
    = f.select :outcome_currency, {'PLN' => 'PLN', 'EUR' => 'EUR', 'USD' => 'USD'}, :class => 'form-control'
  .form-group
    = f.label :starting_at
    = f.text_field :starting_at, :class => 'form-control'
  .form-group
    = f.label :frequency
    = f.select :frequency, {'monthly' => 'monthly'}, :class => 'form-control'
  .form-group
    = f.submit 'Add', :class => 'btn btn-primary'