%h3= I18n.t 'views.accounts.add_schedule'
= form_for @new_schedule, :url => create_schedule_account_path(@account) do |f|
  .form-group
    = f.label :name
    = f.text_field :name, :class => 'form-control'
  .row
    .col-sm-2
      .form-group
        = f.label :starting_at
        = f.text_field :starting_at, :class => 'form-control datepicker'
    -#.col-sm-2
      .form-group
        = f.label :ending_at
        = f.text_field :ending_at, :class => 'form-control datepicker'
    .col-sm-2
      .form-group
        = f.label :frequency
        = f.select :frequency, {'monthly' => 'monthly'}, {}, :class => 'form-control'

    .col-sm-2
      .form-group
        = f.label :income
        .input-group
          = f.text_field :income, :class => 'form-control'
          .input-group-btn
            = f.select :income_currency, {'PLN' => 'PLN', 'EUR' => 'EUR', 'USD' => 'USD'}, {selected: current_user.settings(:transactions).currency}, :class => 'form-control', :style=>'width: 65px'

    .col-sm-2
      .form-group
        = f.label :outcome
        .input-group
          = f.text_field :outcome, :class => 'form-control'
          .input-group-btn
            = f.select :outcome_currency, {'PLN' => 'PLN', 'EUR' => 'EUR', 'USD' => 'USD'}, {selected: current_user.settings(:transactions).currency}, :class => 'form-control', :style=>'width: 65px'
  .form-group
    = f.submit I18n.t('buttons.add'), :class => 'btn btn-primary'