%table.table.table-striped
  %thead
    %tr
      %th= Schedule.human_attribute_name :name
      %th= Schedule.human_attribute_name :income
      %th= Schedule.human_attribute_name :outcome
      %th= Schedule.human_attribute_name :starting_at
      %th= Schedule.human_attribute_name :frequency
      %th
  %tbody
    - for schedule in @account.schedules.order('starting_at desc')
      %tr
        %td= schedule.name
        %td
          %span.income= humanized_money_with_symbol schedule.income if schedule.income_cents != 0
        %td
          %span.outcome= humanized_money_with_symbol schedule.outcome if schedule.outcome_cents != 0
        %td= schedule.starting_at.strftime('%Y/%m/%d')
        %td= schedule.frequency
        %td
          = link_to I18n.t('buttons.edit'), '', :class => 'btn btn-warning btn-xs'
          = link_to I18n.t('buttons.delete'), schedule_path(schedule), :method=>'delete', :class => 'btn btn-danger btn-xs'
