%table.table.table-striped
  %thead
    %tr
      %th= Transaction.human_attribute_name :name
      %th= Transaction.human_attribute_name :income
      %th= Transaction.human_attribute_name :outcome
      %th= Transaction.human_attribute_name :accounted_at
      %th
  %tbody
    - for transaction in @account.transactions.order('accounted_at desc')
      %tr
        %td= transaction.name
        %td
          %span.income= humanized_money_with_symbol transaction.income if transaction.income_cents != 0
        %td
          %span.outcome= humanized_money_with_symbol transaction.outcome if transaction.outcome_cents != 0
        %td= transaction.accounted_at.strftime('%Y/%m/%d')
        %td
          = link_to I18n.t('buttons.edit'), '#', :data => {:target => "#edit_transaction_modal_#{transaction.id}", :toggle => 'modal'}, :class => 'btn btn-warning btn-xs'
          = link_to I18n.t('buttons.delete'), transaction_path(transaction), :method=>'delete', :class => 'btn btn-danger btn-xs'
- for transaction in @account.transactions
  = render :partial => 'accounts/show/edit_transaction', :locals => {transaction: transaction}