= link_to I18n.t('buttons.new_account'), new_account_path, :class => 'btn btn-primary'
%br
%br
%table.table.table-striped
  %thead
    %tr
      %th= Account.human_attribute_name :name
      %th= Account.human_attribute_name :balance
      %th
  %tbody
    - for account in @accounts
      %tr
        %td= link_to account.name, account_path(account)
        %td
          %span{:class => account.balance_until(Date.current) > 0 ? 'income' : 'outcome'}= humanized_money_with_symbol account.balance_until(Date.current)
        %td
          = link_to I18n.t('buttons.delete'), account_path(account), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-xs btn-danger'
